<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628910851337-4h7cdvv3e3jvlp6rc5e1lmk98baosb5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628910851337-4h7cdvv3e3jvlp6rc5e1lmk98baosb5k</string>
	<key>API_KEY</key>
	<string>AIzaSyAbb6q6tOI3PCbuIgYy3cMtp2B6KPbMWL0</string>
	<key>GCM_SENDER_ID</key>
	<string>628910851337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xarpspaces</string>
	<key>PROJECT_ID</key>
	<string>xarp-spaces</string>
	<key>STORAGE_BUCKET</key>
	<string>xarp-spaces.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628910851337:ios:ffb77b83824a42005ebfd8</string>
</dict>
</plist>